---
---

@import "{{ site.theme }}";
header{
  display: none;
}
.container{
  width: 100%;
  padding: 0;
  max-width: none;

}
.topnav {
  overflow: hidden;
  margin: 0;
  padding: .5% 0 .5% 3%;
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
}
a {
    color: #eaeaea;
    text-shadow: 0 0 5px #90a959;
}
.topnav a{
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
a.box{
  border-radius: 10px;
  border: 2px solid #eaeaea;
}
a.box:hover {
  color: greenyellow;
  border: 2px solid greenyellow;
}
a.underline {
  display: inline-block;
  position: relative;
}
a.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: greenyellow;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.main {
  margin-left: 15%;
}