---
---

@import "{{ site.theme }}";
header{
  display: none;
}
.container{
  width: 100%;
  max-width: none;

}
.topnav {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #333;
}
.topnav a:first-child {
  margin-right: 15%;
}
a.box:hover {
  color: greenyellow;
}
a.underline {
  display: inline-block;
  position: relative;
}
a.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: greenyellow;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.main {
  margin-left: 15%;
}